.header{
  background-color: $primary;
  padding: 2rem;
  display: flex;

  &__auth{
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--box{
      display: flex;
      align-content: center;
    }
  }

  &__button{
    &,&:link,&:visited{
      text-decoration: none;
      font-size: 1.7rem;
      color: $white;
      cursor: pointer;
      background-color: transparent;
      border: none;
      
      &:not(:last-child){
        margin-right: 2rem;
      }

      &::after{
        display: block;
        content: "";
        border-bottom:2px solid $white;
        transform: scale(0);
        transition: transform .2s ease-in-out;
      }

      &:hover::after{
        transform: scale(1);
      }
    }
  }
}