.home{
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right bottom,
    rgba($primary, .3),
    rgba($secondary, .3)
  ), url(./img/organisation.jpg);
  background-size: cover;
}