$white: rgba(255, 255, 255, 1);
$grey: rgba(217, 217, 217, 1);
$black: #000;

$color-facebook: #3B5998;
$color-google: #EA4335;

$primary: rgba(40, 75, 99, 1);
$secondary: rgba(60, 110, 113, 1);
$tertiary: rgba(53, 53, 53, 1);