@keyframes alert {
  0%{
    display: block;
    opacity: 0;
    transform: translateY(-7rem);
  }
  10%{
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  90%{
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-7rem);
    display: none;
  }
}

//react-transition-group classes
//--ADDTASK FORM--
.fadeForm-enter{
  opacity: 0;
  transform: translateY(-3rem);
}

.fadeForm-enter-active{
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}

.fadeForm-exit{
  opacity: 1;
  transform: translateY(0);
}

.fadeForm-exit-active{
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 500ms;
}

//--MODAL--
.fadeModal-enter{
  opacity: 0;
  width: 0;
  height: 0;
}

.fadeModal-enter-active{
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: all 500ms;
}

.fadeModal-exit{
  opacity: 1;
  width: 100%;
  height: 100%;
}

.fadeModal-exit-active{
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 500ms;
}

//--TASKS--//
.task-animation--enter{ opacity: 0; transform: translateX(-4rem); }
.task-animation--enter-active{ opacity: 1; transform: translateX(0); transition: all .5s; }

.task-animation--exit{ opacity: 1; transform: translateX(0); }
.task-animation--exit-active{ opacity: 0; transform: translateX(-4rem); transition: all .5s cubic-bezier(0.64, 0, 0.78, 0); }

//--CHECK--//
.check--enter{ opacity: 0; color: $tertiary; transform: scale(0.9) translateY(-.5rem); }
.check--enter-active{ opacity: 1; color: $primary; transform: scale(0.9) translateY(-.5rem); transition: all .3s;}

.check--exit{ opacity: 1; color: $primary; transform: scale(0.9) translateY(-.5rem); }
.check--exit-active{ opacity: 0; color: $tertiary; transform: scale(0.9) translateY(-.5rem); transition: all .3s;}