@keyframes alert {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(-7rem); }
  10% {
    display: block;
    opacity: 1;
    transform: translateY(0); }
  90% {
    display: block;
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-7rem);
    display: none; } }

.fadeForm-enter {
  opacity: 0;
  transform: translateY(-3rem); }

.fadeForm-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms; }

.fadeForm-exit {
  opacity: 1;
  transform: translateY(0);
  height: 100%; }

.fadeForm-exit-active {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 500ms;
  height: 0;
  display: none; }

.fadeModal-enter {
  opacity: 0;
  width: 0;
  height: 0; }

.fadeModal-enter-active {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: all 500ms; }

.fadeModal-exit {
  opacity: 1;
  width: 100%;
  height: 100%; }

.fadeModal-exit-active {
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 500ms; }

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, rgba(40, 75, 99, 0.6), rgba(60, 110, 113, 0.6));
  height: 100vh;
  width: 100vw; }

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  height: 60vh;
  width: 60vw; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.7; }

.heading-primary {
  font-size: 4rem;
  font-weight: 100;
  color: #3c6e71;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }

.heading-secondary {
  font-size: 2rem;
  font-weight: 200;
  color: #284b63;
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-text-white {
  color: white; }

.u-text-grey {
  color: #d9d9d9; }

.u-visibility-hidden {
  visibility: hidden; }

.u-absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  border: none;
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .3s;
  cursor: pointer; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem); }

.btn--primary {
  background-color: #284b63; }

.btn--warning {
  background-color: rgba(255, 69, 0, 0.7); }

.form {
  display: flex;
  flex-direction: column; }
  .form__group {
    padding: 1rem; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
  .form__label {
    display: block;
    font-size: 1.5rem;
    color: #284b63;
    margin-left: 1rem; }
  .form__input {
    display: block;
    padding: 1.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 50px;
    transition: all .2s;
    font-size: 1.5rem; }
    .form__input:focus {
      border: none;
      border-bottom: 2px solid transparent;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      outline: none;
      transition: all .2s; }
      .form__input:focus:invalid {
        border: none;
        border-bottom: 2px solid orangered; }
  .form__message {
    color: orangered;
    margin-left: 2rem; }

.message__box {
  position: fixed;
  top: 7rem;
  width: 100%;
  background-color: rgba(255, 69, 0, 0.8);
  padding: 1rem;
  text-align: center;
  animation: alert 5s forwards; }

.message__content {
  font-size: 1.6rem; }

.list {
  list-style: none;
  margin: 2rem auto;
  width: 50%;
  background-color: rgba(60, 110, 113, 0.8);
  padding: 1rem; }
  .list__el {
    color: #d9d9d9;
    font-size: 1.5rem;
    text-align: center; }

.datepicker__input {
  width: 100%;
  height: 80%;
  padding: 1rem;
  font-size: 1.5rem;
  border: none; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(53, 53, 53, 0.7); }

.warning {
  background-color: rgba(255, 69, 0, 0.7);
  padding: 2rem;
  font-size: 2rem;
  border-radius: 3px; }
  .warning__dismiss {
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #d9d9d9; }

.card {
  padding: 1.5rem;
  background-color: rgba(217, 217, 217, 0.7);
  border-radius: 3px; }
  .card__text {
    font-size: 2rem; }
  .card__content {
    display: flex;
    margin: 2rem 0;
    justify-content: center; }
    .card__content--text {
      font-size: 1.2rem;
      padding: 0 1rem; }
      .card__content--text:not(:last-child) {
        border-right: 1px solid #d9d9d9; }
  .card__actions {
    display: flex;
    justify-content: space-around; }

.task {
  padding: 1rem;
  width: 100%;
  border: 1px solid #353535;
  border-radius: 3px;
  font-size: 2rem;
  color: #000;
  display: grid;
  grid-template-columns: 10% 40% 35% 5% 5% 5%;
  text-align: center; }
  .task:not(:last-child) {
    margin-bottom: 1rem; }
  .task__check {
    display: none; }
    .task__check--label {
      display: flex;
      align-items: center; }
    .task__check--custom {
      display: inline-block;
      height: 2.5rem;
      width: 2.5rem;
      background-color: transparent;
      border: 1px solid #353535;
      position: relative;
      cursor: pointer; }
    .task__check--icon {
      color: #353535;
      opacity: 0;
      transform: scale(0.9) translateY(-0.5rem);
      transition: all .3s; }
    .task__check:checked + .task__check--label .task__check--icon {
      color: #284b63;
      opacity: 1;
      transform: scale(0.9) translateY(-0.5rem); }
  .task__iconBox {
    color: #000; }
    .task__iconBox--icon {
      transition: all .3s;
      cursor: pointer; }
      .task__iconBox--icon:hover {
        color: #284b63;
        transform: scale(1.1); }

.header {
  background-color: #284b63;
  padding: 2rem;
  display: flex; }
  .header__auth {
    display: flex; }
  .header__button, .header__button:link, .header__button:visited {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none; }
    .header__button:not(:last-child), .header__button:link:not(:last-child), .header__button:visited:not(:last-child) {
      margin-right: 2rem; }
    .header__button::after, .header__button:link::after, .header__button:visited::after {
      display: block;
      content: "";
      border-bottom: 2px solid white;
      transform: scale(0);
      transition: transform .2s ease-in-out; }
    .header__button:hover::after, .header__button:link:hover::after, .header__button:visited:hover::after {
      transform: scale(1); }

.signup {
  width: 100%;
  height: calc(100% - 70px);
  display: grid;
  grid-template-columns: 2; }
  .signup__side {
    grid-area: 1;
    padding: 2rem 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .signup__social {
    background-image: linear-gradient(to right bottom, rgba(40, 75, 99, 0.7), rgba(60, 110, 113, 0.7)), url(./img/woman.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100%;
    overflow: hidden; }
  .signup__fb {
    background-color: #3B5998;
    border-radius: unset; }
  .signup__google {
    background-color: #EA4335;
    border-radius: unset; }
  .signup__icon {
    transform: scale(2);
    margin-left: 2rem; }

.signin {
  padding: 5rem; }

.home {
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, rgba(40, 75, 99, 0.3), rgba(60, 110, 113, 0.3)), url(./img/organisation.jpg);
  background-size: cover; }

.tasks {
  padding: 2rem;
  height: calc(100% - 62px);
  overflow: scroll; }
  .tasks::-webkit-scrollbar {
    display: none; }

.addTask {
  padding-bottom: 2rem; }
  .addTask__visible {
    color: #284b63;
    font-size: 2rem;
    text-align: right; }
    .addTask__visible--label {
      padding-right: 2rem; }
    .addTask__visible--checkbox {
      visibility: hidden; }
    .addTask__visible--btn {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: #284b63;
      position: relative;
      cursor: pointer;
      transition: all 0.3s; }
      .addTask__visible--btn::after, .addTask__visible--btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 3px;
        background-color: white; }
      .addTask__visible--btn::after {
        transform: translateX(0.8rem) translateY(1.35rem); }
      .addTask__visible--btn::before {
        transform: rotate(90deg) translateY(-0.8rem) translateX(1.35rem); }
      .addTask__visible--btn:hover {
        transform: scale(1.1); }
  .addTask__form {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #284b63; }
    .addTask__form--labels, .addTask__form--inputs {
      display: grid;
      grid-template-columns: 25% 45% 15% 7.5% 7.5%; }
    .addTask__form--label {
      color: #000;
      font-size: 1.5rem;
      padding-left: 1rem; }
    .addTask__form--inputs {
      width: 100%;
      border-radius: 5px;
      background-color: white;
      overflow: hidden; }
    .addTask__form--input {
      height: 80%;
      padding: 1.5rem;
      font-size: 1.5rem;
      border: none;
      width: 100%; }
    .addTask__form--span {
      height: 100%;
      display: inline-block;
      position: relative; }
      .addTask__form--span::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 80%;
        margin-left: 1rem;
        background-color: #d9d9d9;
        top: 80%;
        left: 0; }
    .addTask__form--checkbox {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      display: inline-block;
      border: 2px solid #d9d9d9;
      position: relative;
      transform: translate(1.5rem, 1rem);
      cursor: pointer; }
      .addTask__form--checkbox-icon {
        color: #000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(2.5); }
    .addTask__form--button {
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .addTask__form--button-icon {
        transform: scale(2);
        color: #284b63;
        transition: all 0.3s; }
        .addTask__form--button-icon:hover {
          transform: scale(2.2);
          color: #3c6e71; }
    .addTask__form--error {
      display: inline-block;
      color: orangered;
      text-align: center; }
